<?xml version="1.0" encoding="UTF-8" ?>
<parameters>
    
    <http>
        <Thread>1</Thread>
        <Port>28815</Port>
        <DefaultWebRoot>webroot/</DefaultWebRoot>
        <DefaultIndexFile>index.html</DefaultIndexFile>
        <OsapOption>0</OsapOption>
        <OsapServerAddrs>10.152.121.33:8295</OsapServerAddrs>
        <!--ServerLocation></ServerLocation-->
        <!--HttpAccess></HttpAccess-->
        <!--localhost></localhost-->
        <TransferLibsDir>
            <Http2AvenueLibDir>./plugin</Http2AvenueLibDir>
            <Http2AvenueFileFilter>*.so</Http2AvenueFileFilter>
            <Avenue2HttpLibDir>./plugin_ReqA2H</Avenue2HttpLibDir>
            <Avenue2HttpFileFilter>*.so</Avenue2HttpFileFilter>
        </TransferLibsDir>
    </http>
    
</parameters>
